

@{
    ViewData["Title"] = "Index";
}
@model List<ProductWithCustomerDto>

     <table class="table table-bordered table-hover" style="margin-top:20px" id="table2">
        <thead>
            <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Customer</th>
      
            <th class="text-center">Delete</th>
            <th class="text-center">Update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
               <td class="text-center">@item.Id</td>
                <td class="text-center">@item.Name</td>
                 <td class="text-center">@item.Price</td>
                   <td class="text-center">@item.Customer.Name</td>
                 
                           <td class="text-center"><a class='btn btn-danger btn-xs' asp-controller="Customers" asp-action="Remove" asp-route-id="@item.Id"><span class="glyphicon glyphicon-remove"></span> DELETE</a></td>
                         <td class="text-center"><a class='btn btn-primary btn-xs 'asp-controller="Customers" asp-action="Update" asp-route-id="@item.Id"><span class="glyphicon glyphicon-edit"></span>UPDATE</a></td>
             
         
                     </tr>
            }
        </tbody>
    </table><br />

        <a class='btn btn-success btn-sm' asp-controller="Products" asp-action="Save"><span class="glyphicon glyphicon-plus"></span>NEW PRODUCT ADD</a></a>


       
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#table2').dataTable({});
</script>
